@charset "utf-8";
/* CSS Document */
body{
    box-sizing:content-box;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    }
    header{
    background-color: pink;
    padding: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
    nav{
    background-color: violet;
    padding: 10px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    }
    article{
    background-color: rgb(190, 250, 190);
    padding: 10px;
    font-size: 16px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    }
    footer{
    background-color: paleturquoise;
    padding: 20px;
    font-size: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
    a{
    padding: 10px;
    }
    a:hover {
    color: white;
    background-color: rgb(239, 250, 140);
    padding: 10px;
    }